.user-card {
  height: 252px;
  width: 300px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 30px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  height: 124px;
  width: 124px;
  border-radius: 50%;
  margin-bottom: 21px;
}

img {
  width: 124px;
  height: 124px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #979797;
}

.user-details {
  height: 100%;
  width: 100%;
}

.user-card:hover {
  -webkit-box-shadow: 5px 3px 10px -2px rgba(0,0,0,0.2); 
  box-shadow: 5px 3px 10px -2px rgba(0,0,0,0.2);
}